:root {
  --teaRoseOp: rgba(241, 218, 207, 0.2);
  --teaRose: rgb(241, 218, 207);
  --white: rgb(255, 255, 255);
  --grey: rgb(82, 82, 82);
  --teaRoseText: rgb(227, 222, 218);
  --greyHeader: rgb(50, 50, 50);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: var(--teaRoseOp);
  color: var(--greyHeader);
}
/*-------------  CV  ------------------*/
header {
  display: flex;
  align-items: center;
  height: 200px;
}
.flex-container {
  background-color: var(--white);
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px 0px 10px;
}

.row:first-child {
  background-color: var(--grey);
}
/*----------------- Left sidebar -----------------*/
.sidebar {
  flex: 33.33%;
  background-color: var(--teaRose);
}

.contact-info {
  padding-left: 20px;
}

.mainContent {
  flex: 66.66%;
  background-color: var(--white);
  padding: 0 0 0 20px;
}

@media (max-width: 600px) {
  .row {
    padding: 0;
  }
  header {
    height: 400px;
  }
  .mainContent {
    flex: 100%;
  }
}

header > div.mainContent {
  background-color: var(--grey);
}

.myPhoto {
  display: block;
  margin: 10px auto;
  border-radius: 10%;
  height: 180px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

h1,
h2 {
  color: var(--teaRoseText);
}

/*h1 {
  padding-top: 20px;
}*/
h3 {
  color: var(--greyHeader);
}

hr {
  border: 1px solid var(--grey);
  border-radius: 10px;
  margin-right: 20px;
}

.flex-container-date {
  display: flex;
  flex-wrap: wrap;
}

.periodOfTime {
  flex: 20%;
}

.descriptionWork {
  flex: 80%;
}

.flex-container-date .bold {
  flex: 80%;
  margin-left: 20%;
}

@media (max-width: 600px) {
  .periodOfTime,
  .descriptionWork {
    flex: 100%;
  }
  .flex-container-date .bold {
    margin-left: 0;
  }
  .flex-container-date p {
    margin-bottom: 0;
  }
}

footer {
  background-color: var(--grey);
  color: var(--teaRoseText);
  padding: 10px 10px 10px 30px;
}

/*  ---------sub-Header in Contact-info -------------*/

.bold {
  font-weight: bold;
}

/* languages*/
ul {
  padding-left: 0;
}

ul.withoutMarker {
  list-style-type: none;
}

.flex-container ul {
  flex: 50%;
}
@media (max-width: 600px) {
  .flex-container ul {
    flex: 100%;
  }
}
